/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
